*{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.flex-container{
    display: flex;
    align-items: center;
}
.header{
    background-image: url(images/top-banner.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;
}
.half-width{
    width: 50%;
    padding: 50px;
}
img{
    width: 75%;
}
.img-div{
    text-align: center;
}
.title{
    font-size: 50px;
    line-height: 1.3em;
    color: rgb(38, 42, 42);
    
}
.sub-title{
    font-size: 20px;
    color: rgb(100, 100, 100);
    
}
p{
    font-size: 16px;
    color: rgb(150, 150, 150);
    line-height: 1.5em;
}
.header p, .dream p{
    width: 70%;
}
.brand-color{
    color: orange;
}
.my-btn{
    padding: 15px 45px;
    background-image: linear-gradient(130deg,orange, rgb(255, 89, 0));
    color: #fff;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px;
}